flows.json
[{"id":"d672876a.9e14d","type":"tab","label":"Enquiry System","disabled":false,"info":""},{"id":"a8d83760.d8d7a8","type":"ui_form","z":"d672876a.9e14d","name":"","label":"","group":"555644f0.75da2c","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["6a3b5fd9.13086"]]},{"id":"6a3b5fd9.13086","type":"function","z":"d672876a.9e14d","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["d1778028.634eb","bffc1e7d.48a49"]]},{"id":"d1778028.634eb","type":"watson-conversation-v1","z":"d672876a.9e14d","name":"","workspaceid":"dd66b6ea-820a-43bc-81b3-4b089226ff6f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c8d76c0c-105f-4b22-be57-5a6847bdcebe","timeout":"","optout-learning":false,"x":360,"y":300,"wires":[["8203caa8.ddc5a8","62a0565a.85d46"]]},{"id":"62a0565a.85d46","type":"function","z":"d672876a.9e14d","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["8203caa8.ddc5a8","fb9d6d1e.906df","2bfef2b4.1a6726","b8fc5efc.029c98"]]},{"id":"8203caa8.ddc5a8","type":"debug","z":"d672876a.9e14d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":340,"wires":[]},{"id":"fb9d6d1e.906df","type":"ui_template","z":"d672876a.9e14d","group":"555644f0.75da2c","name":"","order":5,"width":"6","height":"6","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":140,"wires":[[]]},{"id":"2bfef2b4.1a6726","type":"ui_audio","z":"d672876a.9e14d","name":"","group":"555644f0.75da2c","voice":"de-DE","always":"","x":700,"y":200,"wires":[]},{"id":"bffc1e7d.48a49","type":"ui_text","z":"d672876a.9e14d","group":"555644f0.75da2c","order":2,"width":0,"height":0,"name":"","label":"Input","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":120,"wires":[]},{"id":"b8fc5efc.029c98","type":"ui_text","z":"d672876a.9e14d","group":"555644f0.75da2c","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":280,"wires":[]},{"id":"555644f0.75da2c","type":"ui_group","z":"","name":"Enquiry with Chatbot","tab":"5d7525f0.650d9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d7525f0.650d9c","type":"ui_tab","z":"","name":"Enquiry System","icon":"dashboard","order":3,"disabled":false,"hidden":false}]